@model TLCNG.entities.CAT_permiso

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CAT_permiso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idUsuarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUsuarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAT_nombrePermiso.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAT_nombrePermiso.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAT_perfil.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAT_perfil.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
