@model IEnumerable<TLCNG.entities.TRA_ParametrosLeyDeIngresos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.año)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.porceTraslado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.porceRecargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salariominimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecargoExtra)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.año)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.porceTraslado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.porceRecargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salariominimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecargoExtra)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
