@model TLCNG.entities.holdkey

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>holdkey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manzana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manzana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condominio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condominio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaConstruccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaConstruccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsoDeSuelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsoDeSuelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edificio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edificio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
