@model TLCNG.entities.CAJAS_HistorialUbicacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CAJAS_HistorialUbicacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreUbicacionDePago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUbicacionDePago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeBaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeBaja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdUsuarioDeCobro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuarioDeCobro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeAlta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdUsuarioBaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuarioBaja)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
