@model TLCNG.entities.CAT_ActualImpuesPredial

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CAT_ActualImpuesPredial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreActualizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreActualizacion2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreActualizacion2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreActualizacion3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreActualizacion3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreActualizacion4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreActualizacion4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreActualizacion5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreActualizacion5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreActualizacion6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreActualizacion6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreActualizacion7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreActualizacion7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreActualizacion8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreActualizacion8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreActualizacion9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreActualizacion9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreActualizacion10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreActualizacion10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreActualizacion11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreActualizacion11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreActualizacion12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreActualizacion12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreActualizacion13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreActualizacion13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreActualizacion14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreActualizacion14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreActualizacion15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreActualizacion15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreActualizacion16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreActualizacion16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreActualizacion17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreActualizacion17)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
