@model IEnumerable<TLCNG.entities.CAT_ActualImpuesPredial>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreActualizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreActualizacion2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreActualizacion3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreActualizacion4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreActualizacion5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreActualizacion6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreActualizacion7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreActualizacion8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreActualizacion9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreActualizacion10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreActualizacion11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreActualizacion12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreActualizacion13)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreActualizacion14)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreActualizacion15)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreActualizacion16)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreActualizacion17)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreActualizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreActualizacion2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreActualizacion3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreActualizacion4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreActualizacion5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreActualizacion6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreActualizacion7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreActualizacion8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreActualizacion9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreActualizacion10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreActualizacion11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreActualizacion12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreActualizacion13)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreActualizacion14)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreActualizacion15)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreActualizacion16)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreActualizacion17)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdActImpPre }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdActImpPre }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdActImpPre })
        </td>
    </tr>
}

</table>
