@model TLCNG.entities.CANCELADO_CAJAS_PagosPredial

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CANCELADO_CAJAS_PagosPredial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdFolio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdFolio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDeCuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDeCuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreSolicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreSolicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoPaternoSolicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoPaternoSolicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoMaternoSolicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoMaternoSolicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BimestresPagados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BimestresPagados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AñoPagado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AñoPagado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FolioOperacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FolioOperacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
