@model IEnumerable<TLCNG.entities.CANCELADO_CAJAS_PagosPredial>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdFolio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroDeCuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreSolicitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoPaternoSolicitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoMaternoSolicitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BimestresPagados)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AñoPagado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FolioOperacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdFolio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroDeCuenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreSolicitante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoPaternoSolicitante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoMaternoSolicitante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BimestresPagados)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AñoPagado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FolioOperacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPago }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPago }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPago })
        </td>
    </tr>
}

</table>
