@model IEnumerable<TLCNG.entities.CAT_TRASLADOS_Notarias>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Notaria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitularNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitularApellidoMaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitularApellidoPaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumExt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colonia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroNotaria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distrito)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Notaria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitularNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitularApellidoMaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitularApellidoPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumExt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colonia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroNotaria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distrito)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
