@model TLCNG.entities.Adeudos_020118

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Adeudos_020118</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Multa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Multa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescuentoGeneral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescuentoGeneral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bimestre1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bimestre1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bimestre2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bimestre2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bimestre3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bimestre3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bimestre4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bimestre4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bimestre5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bimestre5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bimestre6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bimestre6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CondonacionGeneral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CondonacionGeneral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CondonacionMulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CondonacionMulta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CondonacionRecargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CondonacionRecargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BimestresPagados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BimestresPagados)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
