@model TLCNG.entities.CANCELADO_SIS_DetallesDeDescuentos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CANCELADO_SIS_DetallesDeDescuentos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDeCuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDeCuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTipoDescuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTipoDescuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdAñoDeDescuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdAñoDeDescuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeAplicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeAplicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FolioOperacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FolioOperacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDetallesDescuentos }) |
    @Html.ActionLink("Back to List", "Index")
</p>
