@model IEnumerable<TLCNG.entities.CANCELADO_SIS_DetallesDeDescuentos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroDeCuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTipoDescuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdAñoDeDescuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeAplicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FolioOperacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroDeCuenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTipoDescuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdAñoDeDescuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeAplicacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FolioOperacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDetallesDescuentos }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDetallesDescuentos }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDetallesDescuentos })
        </td>
    </tr>
}

</table>
