@model IEnumerable<TLCNG.entities.CAJAS_HistorialPago>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FolioOperacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdFormaDePago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUbicacionDePago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDePago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeCancelacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotivoCancelacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.referencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroDeCuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreSolicitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoPaternoSolicitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoMaternoSolicitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idUsuarioCobro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FolioOperacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdFormaDePago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUbicacionDePago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDePago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeCancelacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotivoCancelacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.referencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroDeCuenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreSolicitante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoPaternoSolicitante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoMaternoSolicitante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idUsuarioCobro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPago }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPago }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPago })
        </td>
    </tr>
}

</table>
