@model IEnumerable<TLCNG.entities.CAJAS_PagosPendientesCatastro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdFolio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTipoOperacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClaveCatastral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroDeCuenta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdFolio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTipoOperacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClaveCatastral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroDeCuenta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
