@model IEnumerable<TLCNG.entities.CAT_JefesDepartamentos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreDepartamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreDirector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidoPaternoDirector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidoMaternoDirector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.abreviaturaPuesto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreDepartamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreDirector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoPaternoDirector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoMaternoDirector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.abreviaturaPuesto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
