@model TLCNG.entities.VISTA_PAGOS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VISTA_PAGOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoPaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoMaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseGravable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseGravable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaTerreno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaTerreno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreCalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreDeVialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreDeVialidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreTipoColonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreTipoColonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaveCatastral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveCatastral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroExterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroExterior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroInterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroInterior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manzana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manzana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parcela)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parcela)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdColoniaDePredio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdColoniaDePredio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdManzana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdManzana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDePago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDePago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AÑO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AÑO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
