@model IEnumerable<TLCNG.entities.VISTA_PAGOS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseGravable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaTerreno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreDeVialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colonia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreTipoColonia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClaveCatastral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroExterior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroInterior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manzana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parcela)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdColoniaDePredio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdManzana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDePago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AÑO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoMaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseGravable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaTerreno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreDeVialidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colonia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreTipoColonia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClaveCatastral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroExterior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroInterior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manzana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parcela)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdColoniaDePredio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdManzana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDePago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AÑO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
