@model IEnumerable<TLCNG.entities.CANCELADO_CAJAS_Pago>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdFolio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdFormaDePago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUbicacionDePago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDePago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuarioDeCobro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Referencia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdFolio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdFormaDePago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUbicacionDePago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDePago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuarioDeCobro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Referencia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPago }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPago }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPago })
        </td>
    </tr>
}

</table>
