@model IEnumerable<TLCNG.entities.CANCELADO_CAJAS_Avaluos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdFolio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTipoOperacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreSolicitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoPaternoSolicitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoMaternoSolicitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.año)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClaveCatastral)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdFolio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTipoOperacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreSolicitante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoPaternoSolicitante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoMaternoSolicitante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.año)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClaveCatastral)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
