@model TLCNG.entities.CAT_perfil

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CAT_perfil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idSistema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idSistema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAT_sistema.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAT_sistema.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAT_tipoPerfil.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAT_tipoPerfil.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
