@model IEnumerable<TLCNG.entities.CAT_perfil>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idSistema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAT_sistema.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAT_tipoPerfil.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idSistema)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAT_sistema.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAT_tipoPerfil.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
