@model TLCNG.entities.CANCELADO_CAJAS_Traslado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CANCELADO_CAJAS_Traslado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdFolioCajas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdFolioCajas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTipoOperacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTipoOperacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreSolicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreSolicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoPaternoSolicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoPaternoSolicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoMaternoSolicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoMaternoSolicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.año)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDeCuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDeCuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaveCatastral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveCatastral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NroTramite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NroTramite)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
