@model IEnumerable<TLCNG.entities.Operaciones>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Anio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdNomBim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Factor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClaveOperaciones)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Anio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdNomBim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Factor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClaveOperaciones)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdOperaciones }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdOperaciones }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdOperaciones })
        </td>
    </tr>
}

</table>
