@model TLCNG.entities.CAT_Bimestre1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CAT_Bimestre1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreBimestre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreBimestre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdActImpPre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdActImpPre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MesAnterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MesAnterior)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdNomBim }) |
    @Html.ActionLink("Back to List", "Index")
</p>
