@model TLCNG.entities.CAJAS_Pago

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CAJAS_Pago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdFolio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdFolio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdUbicacionDePago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUbicacionDePago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDePago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDePago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdUsuarioDeCobro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuarioDeCobro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Referencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Referencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAT_CAJAS_FormaDePago.NombreFormaDePago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAT_CAJAS_FormaDePago.NombreFormaDePago)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
