@model TLCNG.entities.Salarios

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Salarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Anio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BimestreAdeudado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BimestreAdeudado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MesesTranscurridos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MesesTranscurridos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PorcentajeRecargosMensuales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PorcentajeRecargosMensuales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaveSalarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveSalarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnioAnterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnioAnterior)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
