@model IEnumerable<TLCNG.entities.Salarios>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Anio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BimestreAdeudado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MesesTranscurridos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PorcentajeRecargosMensuales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClaveSalarios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnioAnterior)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Anio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BimestreAdeudado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MesesTranscurridos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PorcentajeRecargosMensuales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClaveSalarios)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnioAnterior)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdSalarios }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdSalarios }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdSalarios })
        </td>
    </tr>
}

</table>
