@model IEnumerable<TLCNG.entities.CAJAS_HistorialPagosCancelados>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Folio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroDeCuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDePago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCancelacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadDeBimestres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadAñoActual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadAño_5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadAño_4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadAño_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadAño_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadAño_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Año)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Folio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroDeCuenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDePago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCancelacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadDeBimestres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadAñoActual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadAño_5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadAño_4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadAño_3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadAño_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadAño_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Año)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
