@model TLCNG.entities.Multas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Multas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Anio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalarioMinVigentRegionC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalarioMinVigentRegionC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalarioMinVigentRegionB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalarioMinVigentRegionB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoEquivDiasSalario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoEquivDiasSalario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdMultas }) |
    @Html.ActionLink("Back to List", "Index")
</p>
