@model IEnumerable<TLCNG.entities.Multas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Anio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalarioMinVigentRegionC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalarioMinVigentRegionB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MontoEquivDiasSalario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Anio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalarioMinVigentRegionC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalarioMinVigentRegionB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MontoEquivDiasSalario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdMultas }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdMultas }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdMultas })
        </td>
    </tr>
}

</table>
