@model IEnumerable<TLCNG.entities.CAT_TipoColonia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreTipoColonia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdAbreviatura)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreTipoColonia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdAbreviatura)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTipoColonia }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTipoColonia }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTipoColonia })
        </td>
    </tr>
}

</table>
