@model TLCNG.entities.TRA_Fusion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TRA_Fusion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClaveOrigen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveOrigen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuentaOrigen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaOrigen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaveDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuentaDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroTramite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroTramite)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
