@model TLCNG.entities.SIS_HistorialMovimientosPredio

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SIS_HistorialMovimientosPredio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDeCuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDeCuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaOperacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaOperacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAT_TipoCambio.NombreTipoCambio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAT_TipoCambio.NombreTipoCambio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAT_TipoOperacion.NombreOperación)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAT_TipoOperacion.NombreOperación)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
