@model IEnumerable<TLCNG.entities.SIS_HistorialMovimientosPredio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroDeCuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaOperacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAT_TipoCambio.NombreTipoCambio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAT_TipoOperacion.NombreOperación)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroDeCuenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaOperacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAT_TipoCambio.NombreTipoCambio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAT_TipoOperacion.NombreOperación)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
