@model IEnumerable<TLCNG.entities.SIS_RechazosTraslados>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClaveCatastral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroDeCuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClaveOrigen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroDeCuentaOrigen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClaveCatastralOrigen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroTramite)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClaveCatastral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroDeCuenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClaveOrigen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroDeCuentaOrigen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClaveCatastralOrigen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroTramite)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdRechazo }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdRechazo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdRechazo })
        </td>
    </tr>
}

</table>
