@model TLCNG.entities.SIS_HistorialGeneral

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SIS_HistorialGeneral</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tablaAfectada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tablaAfectada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoMovimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoMovimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sistemaPertenece)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sistemaPertenece)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
