@model TLCNG.entities.SIS_HistorialAvaluo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SIS_HistorialAvaluo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDeCuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDeCuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manzana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manzana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condominio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condominio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Año)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseGravable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseGravable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaTerreno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaTerreno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edificio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edificio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaveOrigen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveOrigen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDeCuentaOrigen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDeCuentaOrigen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
