@model IEnumerable<TLCNG.entities.TRA_Historial_Rechazo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MotivoRechazo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idSolicitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecharechazo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoTramite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusAnterior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLaveCatastral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdProcesoAnterior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreSolicitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaRechazo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoActual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idTareaAnterior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeRestauracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuarioRechazo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MotivoRechazo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idSolicitante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecharechazo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoTramite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusAnterior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLaveCatastral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdProcesoAnterior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreSolicitante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaRechazo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoActual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idTareaAnterior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeRestauracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuarioRechazo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
