@model IEnumerable<TLCNG.entities.INCONSISTENCIAS_CATASTRO_ADEUDOS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Recargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Multa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescuentoGeneral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bimestre1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bimestre2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bimestre3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bimestre4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bimestre5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bimestre6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CondonacionGeneral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CondonacionMulta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CondonacionRecargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BimestresPagados)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Recargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Multa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescuentoGeneral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bimestre1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bimestre2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bimestre3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bimestre4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bimestre5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bimestre6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CondonacionGeneral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CondonacionMulta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CondonacionRecargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BimestresPagados)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
