@model TLCNG.entities.CAT_Colonia

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CAT_Colonia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdTipoColonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTipoColonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaveColonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveColonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoPostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoPostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreLocalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreLocalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdLocalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdLocalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreMunicipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreMunicipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdMunicipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdMunicipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreEntidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEntidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEntidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEntidad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
