@model TLCNG.entities.CAT_Colonia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CAT_Colonia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdTipoColonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTipoColonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaveColonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveColonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoPostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoPostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreLocalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreLocalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdLocalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdLocalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreMunicipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreMunicipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdMunicipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdMunicipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreEntidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEntidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEntidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEntidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
