@model IEnumerable<TLCNG.entities.CAT_CAJAS_UbicacionDePago>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreUbicacionDePago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeAlta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuarioDeAlta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUbicacionCaja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUbicacionColonia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTipoCaja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuarioDeCobro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreUbicacionDePago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeAlta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuarioDeAlta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUbicacionCaja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUbicacionColonia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTipoCaja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuarioDeCobro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
