@model IEnumerable<TLCNG.entities.SIS_HistorialBDViejo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroDeCuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClaveCatastral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoOperacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionOperacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaMovimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroDeCuenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClaveCatastral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoOperacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionOperacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaMovimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoM)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
