@model TLCNG.entities.CANCELADO_CAJAS_PagosDiversos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CANCELADO_CAJAS_PagosDiversos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdFolio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdFolio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreSolicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreSolicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoPaternoSolicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoPaternoSolicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoMaternoSolicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoMaternoSolicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concepto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concepto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPagado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPagado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreComercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreComercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rfc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rfc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreRFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreRFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
