@model IEnumerable<TLCNG.entities.CANCELADO_CAJAS_PagosDiversos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdFolio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreSolicitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoPaternoSolicitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoMaternoSolicitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Concepto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPagado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreComercial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripicion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rfc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colonia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreRFC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdFolio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreSolicitante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoPaternoSolicitante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoMaternoSolicitante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Concepto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPagado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreComercial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripicion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rfc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colonia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreRFC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
